body {
  padding: 0;
  margin: 0;
  font-family: 'PT Mono', serif;
  color: #666666;
}
.example{
  display: block;
  background-color: #f6f6f6;
  position: absolute;
  top: 50px;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.top-controls{
  top: -40px;
  position: relative;
}
select {
  height: 37px;
}
label {
  margin: 0 10px;
}
button, input[type="number"] {
  height: 30px;
  margin: 0 5px;
  padding: 0 8px;
  border-style: solid;
  border-color: #AAAAAA;
  border-width: 1px;
  border-radius: 5px;
}
